body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

  /*CABECERA*/
  header{
    max-width: 1150px;
    min-height: 130px;
    margin:0 auto;
    border-radius: 20px;
    border-radius: 20px 20px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c6c6c6+19 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #c6c6c6 19%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#c6c6c6 19%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#c6c6c6 19%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */

  }


  #logo{
    width: 320px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    animation: 1.5s entradalogo 1;
  }

  #logo a:hover img{
    filter:grayscale(100);
  }

  /*CABECERA*/


/*MENU-HORIZONTAL*/
#menu-h{
  max-width: 1150px;
  min-height: 50px;
  margin: 0 auto;
  background:red;
}
#menu-h ul{
  list-style: none;
  display: flex;
  justify-content: left:45px;
}

#menu-h a{
  color: black;
  text-decoration: none;
  padding: 20px;
  display: block;
  background:red;
  font-family: arial;
  font-size: 18px;
}

#menu-h ul ul{
  display: none;
  position: absolute;
}



#menu-h a:hover{
  background:white;
  color:red;

}

#menu-h ul li:hover ul{
display: block;
}


/*MENU-HORIZONTAL*/

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position:relative;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}



#logo2{
    width: 50px;
    float: right;
  

  }

.slider1 {
  width: 1150px;
  margin: auto;
  overflow: hidden;
  

}

.slider1 ul {
  display: flex;
  padding: 0;
  width: 1150px;
  animation: cambio 4s infinite alternate linear;
}

.slider1 li {
  width: 100%;
  list-style: none;
}

.slider1 img {
  width: 1150px;
  height: 300px;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}

}

 button{
  width: 250px;
  height: 80px;
  background:red;
  margin-top: 10px;
  color:white;

 }

 button a:hover{
  background:red;
 }


 /*KEYFRAMES*/
 @keyframes entradalogo{
0%{transform: translateY(-200px);
 }}





@keyframes rotacion{
  0%{
    transform: rotate(270deg);
  }
}

/*KEYFRAMES*/